.register{
    height: calc(100vh - 0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("https://media.timeout.com/images/105770166/image.jpg");
    background-size: cover;
}

.registrationTitle{
    font-size: 55px;
}

.registerForm{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5%;
    position: relative;
    margin: 30px;
    width: 530px;
    left: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.registerForm>label{
    font-size: 40px;
}

.registerForm>input{
    margin: 10px 0;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    border-color: black;
}


.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.loginButton{
    
    width: 100px;
    font-size: 25px;
    padding: 5px;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.registerButton{
    font-size: 25px;
    padding: 5px;
    width: 130px;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
